.contenedor {
    /* background-image: linear-gradient(to bottom, #1B252F, #8AC9DB, #A8B099); */
    /* background-image: linear-gradient(to bottom, #000c22, #0f73cb, #023a6b); */
    background-image: linear-gradient(to bottom, #000c22, #023a6b);
    /* background-image: linear-gradient(to bottom, #000c22, #001b41, #012f60); */
    /* background-image: linear-gradient(to bottom, #fef8d4, #B8915A); */
}

.hexagon {
    width: 350px; /* Ancho del hexágono */
    height: 40px; /* Altura del centro del hexágono */
    position: relative;
    margin: 20px 0; /* Espaciado para visualización */
    border: 2px solid #fff;
    border-radius: 5px;
    /* -webkit-border-image: -webkit-linear-gradient(top, #fef8d4, #b8915a) 1
        stretch;
    border-image: linear-gradient(to bottom, #fef8d4, #b8915a) 1 stretch; */
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 130px solid transparent; /* La mitad del ancho del hexágono */
    border-right: 130px solid transparent; /* La mitad del ancho del hexágono */
    border-radius: 15px;
    height: 0;
}

.hexagon::before {
    bottom: 100%; /* Alinea la parte superior del triángulo con el borde superior del hexágono */
    border-bottom: 10px solid #fff; /* Altura del triángulo superior */
    border-radius: 10px;

    text-align: center;
}

.hexagon::after {
    top: 100%; /* Alinea la parte inferior del triángulo con el borde inferior del hexágono */
    border-top: 10px solid #fff; /* Altura del triángulo inferior */
}

/* Para las respuestas */

.respuestas {
    width: 200px; /* Ancho del hexágono */
    height: 40px; /* Altura del centro del hexágono */
    position: relative;
    margin: 20px auto; /* Centra el hexágono horizontalmente y añade espaciado vertical */
    border: 2px solid #fff; /* Borde del centro del hexágono */
    /* -webkit-border-image: -webkit-linear-gradient(top, #fef8d4, #b8915a) 1
        stretch;
    border-image: linear-gradient(to bottom, #fef8d4, #b8915a) 1 stretch; */
}

.respuestas::before,
.respuestas::after {
    content: "";
    position: absolute;
    left: 50%; /* Centra los triángulos respecto al bloque principal */
    width: 0;
    border-left: 100px solid transparent; /* Corresponde a la mitad del ancho del hexágono */
    border-right: 100px solid transparent; /* Corresponde a la mitad del ancho del hexágono */
    transform: translateX(
        -50%
    ); /* Ajuste fino para centrar exactamente los triángulos */
}

.respuestas::before {
    bottom: 100%; /* Posiciona el triángulo superior justo arriba del centro */
    border-bottom: 10px solid #fff; /* Altura y color del triángulo superior */
}

.respuestas::after {
    top: 100%; /* Posiciona el triángulo inferior justo debajo del centro */
    border-top: 10px solid #fff; /* Altura y color del triángulo inferior */
}

/* .hexagon: Define el contenedor principal del hexágono, donde width y height determinan el ancho y la altura central del hexágono, respectivamente. El background-color es el color del hexágono.

.hexagon::before y .hexagon::after: Son pseudoelementos utilizados para crear los triángulos en la parte superior e inferior del hexágono. Estos elementos son esenciales para formar la forma hexagonal completa.

border-left y border-right: Crean los lados inclinados del triángulo mediante el uso de bordes transparentes. El tamaño de estos bordes determina qué tan inclinados estarán los lados del hexágono.

border-bottom en ::before y border-top en ::after: Estos son los que realmente pintan el triángulo superior e inferior, respectivamente, usando el mismo color de fondo que el contenedor principal. El tamaño de estos bordes afecta la altura de los triángulos, ajustando así la proporción vertical del hexágono.

Para ajustar la longitud del hexágono en los lados derecho e izquierdo, puedes modificar el width del .hexagon y los valores border-left y border-right en los pseudoelementos ::before y ::after para mantener la simetría. Ajustar estos valores te permitirá crear un hexágono que se adapte a tus necesidades específicas de diseño */
